/*
 * Corne (Typeractive, nice!nano v2 + nice!view).
 * Ported from the QMK/Vial "W-CORNE" layout (layout.vil).
 *
 * Notes on the port:
 *  - The QMK board's right-hand inner column held arrow keys, shifting its
 *    letters one column outward. This is a standard 6-column Corne, so the
 *    right hand sits in standard columns (H/Y/N on the inner index column).
 *  - Arrow keys live on the Lower layer (left home row), per request.
 *  - QMK thumb surplus folded in: LALT -> hold on left-pinky (tap = ESC);
 *    LCTRL -> hold on the right Enter thumb.
 *  - Layer 3 (FN) holds the Bluetooth controls; reached by the tri-layer
 *    (hold Lower + Raise together).
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
// ------------------------------------------------------------------------------------------
// | TAB       |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
// | ESC/⌥hold |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '   |
// | SHFT      |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | SHFT |
//                         | CMD | LWR | SPC |   | RET/^hold | RSE | BSPC |
            bindings = <
&kp TAB       &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y          &kp U  &kp I      &kp O    &kp P     &kp BSPC
&mt LALT ESC  &kp A  &kp S  &kp D     &kp F  &kp G          &kp H          &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT     &kp Z  &kp X  &kp C     &kp V  &kp B          &kp N          &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                            &kp LGUI  &mo 1  &kp SPACE      &mt RCTRL RET  &mo 2  &kp BSPC
            >;
        };

        lower_layer {
            display-name = "NUMBER";
// ------------------------------------------------------------------------------------------
// | ESC  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |     |
// | TAB  |  \  | LFT | DWN |  UP | RGT |   | HOME| PGUP|  -  |  =  |  `  |     |
// | SHFT |     |     |     |     |     |   | END | PGDN|     |     |     |     |
//                    | CMD | LWR | SPC |   | RET | RSE | BSPC |
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3    &kp N4  &kp N5         &kp N6    &kp N7     &kp N8     &kp N9     &kp N0     &trans
&kp TAB    &kp BSLH  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT      &kp HOME  &kp PG_UP  &kp MINUS  &kp EQUAL  &kp GRAVE  &trans
&kp LSHFT  &trans    &trans    &trans    &trans  &trans         &kp END   &kp PG_DN  &trans     &trans     &trans     &trans
                               &kp LGUI  &mo 1   &kp SPACE      &kp RET   &mo 2      &kp BSPC
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
// ------------------------------------------------------------------------------------------
// |  `  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |     |
// |     | ⌘⇧[ | ⌘⇧] |     |     |     |   |     |     |     |  {  |  }  | ⌘SPC |
// |     |  ⌘` | ⌘⇧` |     |     | ⌘⇧4 |   |⌃⌘⇧4 |     |     |  <  |  >  |     |
//                   | CMD | LWR | SPC |   | RET | RSE | DEL |
            bindings = <
&kp GRAVE  &kp EXCL          &kp AT             &kp HASH  &kp DLLR  &kp PRCNT        &kp CARET           &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&trans     &kp LS(LG(LBKT))  &kp LS(LG(RBKT))   &trans    &trans    &trans           &trans              &trans    &trans     &kp LBRC  &kp RBRC  &kp LG(SPACE)
&trans     &kp LG(GRAVE)     &kp LS(LG(GRAVE))  &trans    &trans    &kp LS(LG(N4))   &kp LC(LS(LG(N4)))  &trans    &trans     &kp LT    &kp GT    &trans
                                                &kp LGUI  &mo 1     &kp SPACE        &kp RET             &mo 2     &kp DEL
            >;
        };

        fn_layer {
            display-name = "FN";
// ------------------------------------------------------------------------------------------
// | F13 | F14 | F15 | F16 | F17 | F18 |   | F19 | F20 | F21 | F22 | F23 | UNLK |
// |     |     | ⏮  | ⏯  |  ⏭ |     |   |     | VOL-| MUTE| VOL+|     |     |
// | BT0 | BT1 | BT2 | BT3 | BT4 | BCLR|   |     | BRI-|     | BRI+|     |     |
//                   |OUTtg| LWR | SPC |   | RET | RSE | F24 |
            bindings = <
&kp F13       &kp F14       &kp F15       &kp F16       &kp F17       &kp F18       &kp F19  &kp F20       &kp F21     &kp F22       &kp F23  &studio_unlock
&trans        &trans        &kp C_RW      &kp C_PP      &kp C_FF      &trans        &trans   &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &trans   &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR    &trans   &kp C_BRI_DN  &trans      &kp C_BRI_UP  &trans   &trans
                                          &out OUT_TOG  &mo 1         &kp SPACE     &kp RET  &mo 2         &kp F24
            >;
        };
    };
};
